<div class="row fields">
  <div class="span5">
  <%= f.input :image, :as => :file, :hint => f.template.image_tag(f.object.image.url(:thumb))%>
  <%= f.input :name %>
  </div>
  
  <div class="span4">
  <%= f.input :featured, :as => :select %>
  <%= f.input :description %>
  </div>
  
  <div class="span1 offset2">
  <p><%= link_to_remove_fields "Remove", f %></p>
  </div>
  
</div>
<br><br>