  
  <div class="promocyja-font travel-quote">“<%= @quote.quote %>”<br> 
    <span style="font-size: 22px">– <%= @quote.author %></span>
  </div>

<% if Travel.featured_blogs.count > 0 %> 
  <div class="carousel slide" id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
          <ul class="thumbnails">
                  <% @featured_blogs_one.each do |fb| %>
                  <li class="index-pages-li">

                  <%= link_to image_tag(fb.travel_images.first.image_url(:list)), travel_path(fb) if fb.travel_images.first %>
                  <span class="index-pages-li-title"><%= fb.title %></span>
                </li>

                  <% end %>
          </ul>
    </div>
    <div class="item">
          <ul class="thumbnails">
              <% @featured_blogs_two.each do |fb| %>
              <li class="index-pages-li">

              <%= link_to image_tag(fb.travel_images.first.image_url(:list)), travel_path(fb) if fb.travel_images.first %>
              <span class="index-pages-li-title"><%= fb.title %></span>
              </li>
              <% end %>
          </ul>
    </div>
  </div>
  <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
  <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
  </div>
<% end %>
    
    <br><br>
    
      
      <% @travel_blogs.each do |tb| %>
      
        <div class="white-box">
          <div class="row">
            <div class="span3 travel-index-left-column">
              <%= image_tag(tb.user.image_url(:thumb), :class => "round-images") if tb.user.image %><br><br>

              AUTHOR:<br>
              <%= tb.user.name %><br><br>

              DATE:<br>
              <%= tb.publish_date.strftime("%B %d, %Y") %><br><br>

              DESTINATION:<br>
              <%= tb.destination %><br><br>

              COMMENTS:<br>
              <%= pluralize(tb.comments.count, 'Comment') %><br><br>
            </div>
          
            <div class="span8 travel-index-right-column">
              <p class="mathlete-bulky-font" style="font-size: 38px"><%= link_to tb.title, travel_path(tb) %></p><br>
              <%= image_tag(tb.travel_images.first.image_url(:index)) if tb.travel_images.first %><br><br>
              <%= truncate(tb.content, :length => 200) %>
            </div>    
          </div>
        </div><br><br>    
      <% end %>
  
  <div class="pull-right"><%= page_navigation_links @travel_blogs, '#' %></div>    
