
  
  <div class="promocyja-font travel-quote">“<%= @quote %>”<br> 
    <span style="font-size: 22px">– <%= @author %></span></div>
    
    <br><br>
    
      
      <% @travel_blogs.each do |tb| %>
      
        <div class="white-box">
          <div class="row">
            <div class="span3 travel-index-left-column">
              <%= image_tag(tb.user.image_url(:thumb), :class => "round-images") if tb.user.image %><br><br>

              AUTHOR:<br>
              <%= tb.user.name %><br><br>

              DATE:<br>
              <%= tb.publish_date.strftime("%B %d, %Y") %><br><br>

              DESTINATION:<br>
              <%= tb.destination %><br><br>

              COMMENTS:<br>
              <%= pluralize(tb.comments.count, 'Comment') %><br><br>
            </div>
          
            <div class="span8 travel-index-right-column">
              <p class="mathlete-bulky-font" style="font-size: 38px"><%= link_to tb.title, travel_path(tb) %></p><br>
              <%= image_tag(tb.travel_images.first.image_url(:index)) if tb.travel_images.first %><br><br>
              <%= tb.content %>
            </div>    
          </div>
        </div><br><br>    
      <% end %>
      
