<h4>List of Travel Blogs</h4></br>

<div class="display-inline">
  <%= link_to "«« Back to Admin »»", admins_path %>

  <div>
    <%= search_form_for @search, :url => list_travel_blogs_path do |f| %>
      Keyword search: <%= f.search_field :title_or_content_cont, :label => false %>
      SORT BY: <%= f.sort_link :id, "ID Order" %>
    <% end %>
  </div>
</div>

<br>

<div style="margin-left: -20px;">
  <% @travel_blogs.each do |t| %>
  <ul class="no-margin-or-bullet list-pages-grid">
    <li class="list-pages-li">
    <%= link_to image_tag(Travel.featured_image(t).first.image_url(:list)), travel_path(t)  %><br>
      <div class="list-pages-text">
        <h4 style="color: #aaa"><%= t.destination.upcase %></h4><hr class="dotted">
        <h4 style="color: black; margin-bottom: 12px"><%= truncate(t.title, :length => 30) %></h4>
        <p style="font-family: Helvetica Neue, font-size: 10px;"><%= truncate(t.content, :length => 100) %></p>
        <%= link_to "Edit", :action => 'edit', :id => t.id %> | <%= link_to "Delete", t, :method => :delete %>
      </div>
    </li>
  </ul>
  <% end %>
</div>

<%= page_navigation_links @travel_blogs, '#'%>

<div class="btn primary white-link pull-right"><%= link_to "New", :action => 'new' %></div>
