<div class="container">

  <div class="white-box">
    <div class="row">
      <div class="span2">
        <%= travel_stamp %>
      </div>

      <%= render :partial => 'shared/show_blog_content', :locals => {blog: @travel_blog}%>
    
    <br><br><br>
    
    <div class="row">
      <div class="span12">
        <h5 class="mathlete-bulky-font" style="font-size:28px">Leave a comment</h5>
        <%= simple_form_for @comment, :url => create_travel_comment_path, :method => :post, :html => {:class => 'form-horizontal'} do |f| %>  
            <%= f.input :travel_id, :as => :hidden, :input_html => { :value => @travel_blog.id } %>
            <%= render :partial => "shared/comment_form", :locals => {f: f} %>
          <div class="submit-btn-pull-right"><%= f.button :submit, 'Submit', :class => "primary" %></div>
        <% end %>
      </div>  
    </div>
    
        
    <div class="row">
      <%= render :partial => 'shared/show_blog_comment', :locals => {blog: @travel_blog}%>
    </div>

    
    
  </div>  
</div>