  
    
  <div class="nyc"><%= liberty2 %></div> 


  <div class="plus-sign login_btn"><%= link_to plus, '#' %> </div>
  <div id="login_box">
       <div id="login_form">
         <%= semantic_form_for(:session, :url => sessions_path) do |f| %>
           <%= f.inputs do %>
             <div class="span4 offset4 login effect6">
             <%= f.input :email, :required => false %>
             <%= f.input :password, :required => false %>
             <%= f.commit_button :button_html => {:class => "primary"}, :label => "Login" %>
             </div>
           <% end %>

         <% end %>
       </div>
  </div>
      
  <div class="sydney"><%= opera %></div>
