    <%= image_tag(randomized_background_image, :id => "full-screen-background-image")%>
    <div id="login_wrapper">
      <%= simple_form_for(:session, :url => sessions_path, :html => {:class => 'simple_form_session'}) do |f| %>
         <span style="font-family: PacificoRegular; font-size: 28px; color: #65BEB4">Welcome!</span><br><br>
         <%= f.input :email, :required => false %>
         <%= f.input :password, :required => false %>
         <%= f.submit "Log In", :class => "btn primary" %>
       <% end %>
    </div>
