<%= semantic_form_for(:session, :url => sessions_path) do |f| %>
  <%= f.inputs do %>
    <div class="span4 offset4">
    <%= f.input :email, :required => false %>
    <%= f.input :password, :required => false %>
    </div>
  <% end %>
  
  <div class="span 4 offset4">
  <%= f.commit_button :button_html => {:class => "primary"}, :label => "Login" %>
  </div>
  
<% end %>