<div class="container">

  <div>
    <%= link_to "Manage Users", list_user_path %></br>
    <%= link_to "Manage Photos", list_gallery_path %></br>
    <%= link_to "Manage Travel Blogs", list_travel_blogs_path %></br>
    <%= link_to "Manage Food Blogs", list_food_blogs_path %></br>
    <%= link_to "Manage Quotes", list_quotes_path %></br>
  </div>

</div>