</br>
<h5>To rsvp for the wedding, please send an email to <%= mail_to("ming.f.huang@gmail.com", "this") %> account <span style="text-decoration: underline">BY NO LATER THAN 8/15/12.</span></h5>


<div class="guestbook">
  <h5 class="pacifico-font" style="font-size: 20px; color: #EE3233">Leave us a love message</h5>
  <%= simple_form_for @comment do |f| %>
      <%= f.input :content, :label => false, :required => false %>
      <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
      <%= f.input :commenter, :as => :hidden, :input_html => { :value => current_user.name }%>
    <div class="pull-right"><%= f.button :submit, 'Submit', :class => "primary" %></div>
  <% end %>
</div>


<div class="existing-guestbook">
  <h5 class="pacifico-font" style="font-size: 20px; color: #EE3233">Other love messages we received</h5>
  <% @comments.each do |com| %>
    <div class="row comment-spacing">
      <div class="span2">
        <span style="font-size: 16px"><%= com.commenter %></span><%= love_note %><br>
        
      </div>
      <div class="span10 comment-spacing"><blockquote><%= com.content %></blockquote><hr/></div>
    </div>
  <% end %>
</div>

<div class="pull-right"><%= page_navigation_links @comments, '#'%></div>
