</br>
<h5>To rsvp for the wedding, please send an email to <%= mail_to("ming.f.huang@gmail.com", "this") %> account.</h5>


<div class="guestbook">
  <h5 class="pacifico-font" style="font-size: 20px; color: #EE3233">Leave us a love message</h5>
  <%= semantic_form_for @comment do |f| %>
    <%= f.inputs do %>
      <%= f.input :content, :label => false, :required => false %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :commenter, :value => current_user.name %>
    <% end %>
    <%= f.commit_button :button_html => {:class => "primary"}, :label => "Comment" %>
  <% end %>
</div>


<div class="existing-guestbook">
  <h5 class="pacifico-font" style="font-size: 20px; color: #EE3233">Other love messages we received</h5>
  <% @comments.each do |com| %>
    <div class="row comment-spacing">
      <div class="span2">
        <span style="font-size: 16px"><%= com.commenter %></span><%= love_note %><br>
        <%= com.created_at.strftime("%b %d, %Y")%>
      </div>
      <div class="span10 comment-spacing"><blockquote><%= com.content %></blockquote><hr/></div>
    </div>
  <% end %>
</div>

<div class="pull-right"><%= page_navigation_links @comments, '#'%></div>
