<h2><%= @page_title = "Editing User"%></h2>


<%= simple_form_for @user, :html => {:multipart => true} do |f| %>
    <div class="span3">
      <%= image_tag(@user.image_url(:thumb)) if @user.image %>
      <%= f.input :image, :label => "Photo", :as => :file %>
    </div>
  <div class="span6">
    <%= render(:partial => 'form', :locals => {:f => f})%>    
    <%= f.button :submit, 'Submit', :class => "primary" %>
  </div>
  
<% end %>