<p><%= link_to "«« Back to Admin »»", admins_path %></p></br> 

<h4>List of Users</h4></br>

<div>
  <%= simple_form_for @search, :url => list_user_path do |f| %>
    <%= f.input :name_contains, :label => "Name Search", :required => false %>
    SORT BY: <%= f.sort_link :id, "ID Order" %> | <%= f.sort_link :name, "Name" %> | <%= f.sort_link :lastlogin, "Last Logged In" %> | <%= f.sort_link :attending, "Attending" %>
  <% end %>
</div>

<table class="table zebra-striped">
  <thead>
    <tr>
      <th>ID #</th>
      <th>Name</th>
      <th>Email</th>
      <th>Last Login</th>
      <th>Attending?</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.lastlogin %></td>
      <td><%= user.attending %></td>
      <td><%= link_to "Edit", edit_user_path(user), :id => user.id %> | <%= link_to "Delete", user, :method => :delete %></td>        
     </tr>
    <% end %>
  </tbody>  

</table>

<%= page_navigation_links @users, '#'%>

<div class="btn primary white-link pull-right"><%= link_to "New", :action => 'new' %></div>
