<h2 class="span 4 offset4"><%= @page_title = "Creating New User"%></h2>


<%= semantic_form_for(@user) do |f| %>
  <%= f.inputs do %>
    <div class="span4 offset4">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    </div>
  <% end %>
  
  <div class="span 4 offset4">
  <%= f.commit_button :button_html => {:class => "primary"} %>
  </div>
  
<% end %>