<h3>General Information about Hawaii</h3>
<p>As with many other tropical destinations, all islands in Hawaii offer similar water sports like snorkeling, 
  scuba diving, parasailing, wind-surfing, etc. Our suggested itinerary only include things that are special and 
  specific to each individual island. Unless you plan on splitting your time between relaxing by the resort pool 
  and booking tours the entire time you are there, you should definitely rent a car.<p/>
  
  </br>
  
  <h3 style="color: #ED0D42">UPDATED: Kona, The Big Island</h3>
  
  <p>Nick and I made a trip to Kona recently and explored the island a bit.  Below are our thoughts on the island, 
    what to expect, and how to navigate around the island.</p>
  
  <p>This island is a little different to the other islands.  It is made up of two different types of landscape. Upon landing in Kona,
    you will notice that the island is covered in lava rocks.  It is dry, except along the shore where all the major resorts are located.
    The Hilo side resembles Kauai with lush greens and a lot of rain.  The reasons for the lava rocks is - the active volcano and being the
    youngest island, the lava rocks have not decomposed.  Millions of years later, Kona will be as lush as other islands.  That said, it is 
    truly a beautiful and different experience with very rustic looking scenery.</p>
    
  <h4 style="color: #66A7C5">Lava Flow.</h4>
    
  <p>As for the tours, we did the Volcano tour with Hawaii Forest and Trail.  Our tour guide took us into a volcano cave, walked to various
    craters, and finally a volcano eruption (in both daylight and nighttime).  It was an amazing experience, but it is a LONG tour.  It lasted
    14 hours, from 10:30am until midnight.  Our tour guide was really knowledgeable and we learned a lot about the island, the greenery, etc.
    NOTE: Hawaii Forest and Trail does not take you on craters with lava flow.  However, <%= link_to "Jack's Hawaii", "http://www.jackshawaii.com/eng/tours_5.html", :target => :false %> 
    and <%= link_to "Robert's Hawaii", "http://www.robertshawaii.com/sightseeing-attractions/volcano-evening.php", :target => :false%> do offer Lava Walk Tours
    that will get you up close and personal with lava (not guaranteed and we've been told that they have not been able to get to the lave flow for the
    past 5 months because it's flowing down a non-accessible part of the mountain now).  Hawaii Forest and Trail is more professional while the others
    are probably less knowledgeable.  Jack's employees are predominantly Japanese speaking, though I can't speak for their actual guides.  We've been told by Jack's 
    that the best way to see lava is through a helicopter tour.</p>
    
  <p>If you don't want to do the tour, it is quite easy to drive up to the National Volcano Center, find out where eruptions are happening, and travel
    to those places yourself.  Doing so will require you to find your way around and you will not be able to locate the craters and lava tube yourself.
    If you do your own tour and are adventurous, you can go near flowing lava flow, but it IS DANGEROUS.  While there are park rangers, we probably wouldn't recommend this.  
    The area around the flow will be hot and you may burn through the soles of your shoes.  Lava flows can also be flowing underneath the ground but 
    not be visible and cause the dry lava binges you are walking on to crack, which will be extremely dangerous.  If you are really dying to see flowing
    lava, you can talk to us personally.</p>
    
  
  <h4 style="color: #66A7C5">Mauna Kea Summit for Stars.</h4>  
    
  <p>The Mauna Kea Summit tour costs $200, and is usually booked out at least a few days in advance so if you want to book the tour, you should book it in
    a week in advance.  We did NOT book the tour and drove up the mountain ourselves, which takes approx. 1.5 hours from the Four Seasons.  With our mid-size 
    car, we were able to drive up to the Visitor Center at 9,000ft.  There, we climbed a small hill to watch one of the most amazing sunsets.  At nighttime, 
    we went back down to the Visitor Center where they set up multiple telescopes for the public to use.  On the night we were there, we saw Saturn and the 
    moon.  NOTE: try to go when the moon is not out.  We went on a full moon and didn't see as many stars.</p>
    
  <p>If you want to drive all the way up to the 14,000ft summit, you will need to rent a four wheel drive.  We did not make it up because 1) we didn't have a
    four wheel drive, 2) the road from the Visitor Center up is a dirt road that curves around the mountain and 3) given the significant thinning of air at
    those altitudes, we didn't know how we would react and didn't want to risk driving with those unknowns.  There were A LOT of people who did the drive up
    and they were fine.  If you do go, bring warm clothes.  It gets really cold up there; even at 9,000ft you need a thick sweater.  At 9,000ft, you are already
    above the clouds so I can only imagine how beautiful the view is from the very top.</p>
    
  <h4 style="color: #66A7C5">Driving Around.</h4>  
  
  <p>If you want to just drive around and explore, then you need to know that the destination is probably going to be beautiful, but the actual drive is not neither
    scenic nor fun.  There is only ONE main road that wraps around the outer parts of the island.  Driving to the town of Kona and Hilo would be fun and is like any
    other beach town.</p>
    
  <p>Kona is super fun if you dig up all the nooks and crannies that the island has to offer.  Decide what you want to do and seek out those places.</p>
  
  
  <h4 style="color: #66A7C5">Where to Eat.</h4>
  
  <ul style="font-size: 14px;">
    <li>Da Poke Shack (Kona).  Serves up amazing seasoned ahi tuna with rice and sides.  For those going on the Saturday cruise with us, they will be catering the event</li>
    <li>Hawaiian Style Cafe (Waimea). A very local place serving cheap, but quite delicious local Hawaiian dishes. Breakfast and lunch only.  It's a hole in the wall.</li>
    <li>Kenichi Sushi (Kona). Their cooked food is ok, and not inventive if you live in a major city.  However, their sushi/fish melts in your mouth.</li>
    <li>Jackie Rey's (Kona). You can skip this one.  Not impressed.  Food is average.</li>
    <li>Big Island Grill (Kona). Also another local favorite.</li>
    <li>Merrimans (Waimea). The more famous one hales from Maui.  Good food and no atmosphere.</li>
    <li>Any restaurant at the Four Seasons is really good with amazing views.</li>
  </ul>
  
  
  <h3 style="color: #ED0D42">OLD: Kona, The Big Island</h3>
  <p>There are two airports - Kona and Hilo on opposite sides of the island. The Four Seasons is on the side of Kona.

  The Big Island is really large and will probably require at least a week if you want to explore all of it. Visitors 
  usually come to the Big Island for its natural beauty, pristine beaches, outdoor adventures, and of course the active 
  volcano.  Understanding that it will not be possible to do everything, we listed what we think are the most interesting 
  activities to do.</p>
  
  <h4>Recommended Stay</h4><p>3-4 days</p>  
  
  </br>
  
  <%=  render "kona" %>

  </br>
  <hr/>
  </br>

<% #Maui %>

  <h3 style="color: #ED0D42">Maui</h3>
  <p>Maui is one of the most popular honeymoon destinations, and for good reasons.  It’s romantic, has waterfalls galore, 
    great beaches, and an abundance of luxury resorts for fine dining and spa treatments. If you are looking for a romantic 
    spot, this island is for you. </p>
  
  <h4>Recommended Stay</h4><p>3-4 days</p>  
  
  </br>
  
  <%=  render "maui" %>

</br>
<hr/>
</br>


<% #Oahu %>

  <h3 style="color: #ED0D42">Oahu</h3>
  <p>Oahu is the most populated Hawaiian Island as it is the most urban.  Because of this, if you plan on traveling by car, be prepared to face 
    heavy traffic.  If you plan to venture into the North Shore and want to be able to come and go as you please, then a car makes sense, but it 
    is not a necessity as transportation is abundant (in Hawaiian standards).  This is where you want to be if nightlife and good restaurants galore
    are of paramount importance.</p>

  <h4>Recommended Stay</h4><p>2 days</p>  

  </br>

  <%=  render "oahu" %>

