<div class="row">
  
  <div class="span4">
    <%= kona_volcano %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">1) Visit the Hawaii Volcanoes National in Hilo (opposite side of the island) to check out the 
      active volcano. Whole day activity.</h4>
    <p>The drive is approx. 3 hours from Kona. There are plenty of tours on car and boat that will pick you up in Kona and 
      take you to the volcano/crater in hopes of seeing lava flow down to the ocean. However, if you are up for it, you 
      should drive there, get a map and walk around finding active lava flow yourselves. If luck is on your side and if 
      possible, stay after dark because apparently seeing the red lava 
      flow down the side of Kilauea to the ocean at night is one of the most amazing things. You can also camp 
      there after dark, so long as you obtain a permit from the Kilauea Visitor Center.</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= orchids %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">2) If you are already in Hilo...A half day activity (or less if you don't really care).</h4>
    <p>You may drive around and see the abundance of orchids farms, nurseries and botanical gardens. They probably have the 
      most extensive varieties of orchids anywhere - this is the Orchid Isle, afterall.</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= ziplining %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">3) Nick and I did this in Costa Rica and it was such a fun and exciting thing to do - zip 
      lining. Half a day activity.</h4>
    <p>The Big Island has the same components for an amazing ziplining experience. The <%= link_to "Big Island Eco 
      Adventures Zipline Canopy Tours II", "http://thebigislandzipline.com/", :target => false %> will take you on 8 
      ziplines and one suspended bridge over the course of 3 hours.</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= mauna_kea %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">4) In between Kona and Hilo, approx. 2 hours in is the Mauna Kea summit. Whole day activity starting in afternoon.</h4>
    <p>This is where the world’s largest telescopes are located and is an astronomers’ dream. It is approx. 14,000 ft above 
      sea level so it will get cold, and oxygen is thin, but it offers the most amazing spot for star-gazing. Because this 
      is located in the middle of nowhere with NO gas station, NO food, NO nothing, you must go as part of a tour. 
      <%= link_to "The Mauna Kea Summit Adventures", "http://www.maunakea.com/", :target => false %> and 
      <%= link_to "Hawaii Forest Tours", "http://www.hawaii-forest.com/index.php/tours/hawaii_observatory_tour_mauna_kea_stars_adventure", 
      :target => false %> offer tours for approx. $200. It will take the whole day.</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= coffee_plantation %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">5) If you love coffee, Kona is probably your heaven. Half day activity (2.5 hours max).</h4>
    <p>Pay a visit to <%= link_to "Mountain Thunder Coffee Plantation", "http://www.mountainthunder.com/kona_coffee_tour.php", 
    :targer => false%>. Their coffee won 16 awards and they offer free and VIP tours. For those who care, their coffee is organic.  
    Another famous coffee plantation is the <%= link_to "Hula Daddy Kona Coffee", "http://www.huladaddy.com/", 
    :target => false%>. Their Kona Sweet Coffee is voted top 6 coffees in the world!</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= black_sand_beach %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">6) Colored sand beaches and swim with Manta Rays. Half a day to whole day activity.</h4>
    <p>If you are interesting in seeing different colored sand, you can check out green sand at The Green Sand (Mahana) 
      Beach and black sand at the Punalu’u Black Sand Beach. You can also get info on the beaches on the Big Island <%= link_to "here", 
      "http://www.letsgo-hawaii.com/big-island-beach-guide/", :target => false%>. The best place to snorkel is Kealakekua Bay, 
      approx. one hour south of the Four Seasons. Other spots include: Puuhonua O Honaunau, White Sands, Magic Sands, or Disappearing 
      Sands Beach Park, and Kahaluu Beach Park, all of which are within an hour south of the Four Seasons.</p>  
  </div>    
</div>