<div class="row">
  
  <div class="span4">
    <%= sunrise %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">The Haleakala is approx. 10,000 ft above sea level and offers exceptional sunrise / sunset 
      views. Half a day activity.</h4>
    <p>There are a lot of tours that will take you there and lets you bike down the volcano after the sunrise. Of course, 
      you can drive there yourselves and pay the $10 parking fee if you can drive at around 4am in the morning. Alternatively, 
      you can choose to go watch the sunset. The sunset is supposed to be amazing, but Nick and I never saw it because of the 
      rain.</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= hana %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">The Road to Hana is a 55 mile drive along the island that displays Maui’s unspoiled beauty. Whole day activity.</h4>
    <p>You end up in a small town called Hana or venture further to Oheo Gulch for some basalt-lined pools and waterfalls. 
      The drive is a twisty / dangerous drive so drive carefully and slowly. You'll want to stop 
      often and soak in the amazing beauty surrounding you. Along the ride, after the Marker 2, there is sometimes a juice 
      stand where you can get fresh sugarcane juice. There are usually food stand every now and then; not sure if they will 
      be there during off season. After Marker 31, there are signs to Hana Lava Tube where you can check out Maui’s 
      largest lava tube, accentuated by colorful underworld formations. Self guided 40 min tour for $12.</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= kaihalulu %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">Here I am again with the colored-sand beaches again. Half a day to whole day activity.</h4>
    <p>Kaihalulu (Red Sand Beach) has vibrant red sands from eroded volcanic cinders. However, in order to get there, you have 
      to walk down a 10 minute-long slippery and steep hill.</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= laua %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">The Old Lahaina Luau is probably the best luau around. Evening / dinner activity.</h4>
    <p>They stick to old traditions, roast a live pig under the ground, have hula dancing as entertainment. Personally, I 
      thought the food was good, but not great, but it IS one of the best and most iconic luaus around. It takes place on 
      a waterfront property so it’s also very pretty and romantic. It’s a huge luau with a lot of people, but it makes it 
      more fun.</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= lanai %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">Lanai is a small, neighboring island. Whole day activity.</h4>
    <p>There’s not much to do there, but it is very close to Maui so if you visit Maui, you can take a ferry to Lanai on 
      the <%= link_to "Expeditions Lanai Ferry", "http://www.go-lanai.com/", :target => :false %> for $30 each way.  
      The trip takes approx. 1 hour each way.  You can visit the island in 
      one day. Because Lanai is much less traveled, snorkeling there is better than the other islands. You can snorkel at 
      Hulopoe Bay Beach / Manele Bay (close to where the ferry drops you off). Alternatively, you can pay for a tour with 
      Trilogy Tour for a day of snorkeling in Lanai.</p>  
  </div>    
</div>
