<div class="row">
  
  <div class="span4">
    <%= surfing %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">Oahu is home to the most famous and most abundant surf spots. Whole day activity.</h4>
    <p>Take a surf lesson or two.  <%= link_to "Here", "http://matadornetwork.com/notebook/top-10-surf-spots-for-mortals-in-hawaii/", :target => :false %> is a list of all the 
      top 10 surf spots in Hawaii.  While fun, it is a physically demanding activity and is advisable to take a few lessons 
      from professionals before venturing on your own.  <%= link_to "Uncle Bryan's Sunset Suratt Surf School", "http://www.surfnorthshore.com/", :target => :false %> 
      and <%= link_to "North Shore Surf Girls - Surf School", "http://www.northshoresurfgirls.com/", :target => :false %> are good options.</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= north_shore %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">Get away from the hustle and bustle of Honolulu. Whole day activity.</h4>
    <p>While you are in the North Shore, you should definitely stick around the area. It is an escape from the city life of Honolulu. 
      There are a bunch of beaches in the area that are worth the while.  <%= link_to "Visit this site", "http://www.northshoreoahu.org/html/attractions.html", 
      :target => :false %> for activities in the area.</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= pearl_harbor %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5"> It's hard to be in Oahu without paying a visit to the Pearl Harbor site. Half a day to whole day activity.</h4>
    <p>Visit Pearl Harbor.  You can visit the facility yourself, 
      but waits of 1-3 hours are not uncommon so try to get there early.  If you want to skip the line, you can purchase a tour  They range 
      from $40-120 depending on the the length and sites you visit.  There is also a free launch to operated by the U.S. Navy that takes you 
      to the actual boat. Due to heightened security, you CANNOT bring any form of bags no matter how small, incl. camera bag, fanny pack, etc.  
      There are boxes you can rent to store your belongings.  You MUST also wear closed-toe shoes so no sandles.  Fodor's has a 
      <%= link_to "list of things", "http://www.fodors.com/world/north-america/usa/hawaii/honolulu-and-oahu/sights-nam_loc:710083.html", :target => :false %> 
      to do in Pearl Harbor. </p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= waikiki %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">Waikiki. All day activity.</h4>
    <p> This is probably the most famous area in Oahu.  All the major resorts are located within this area.  I liken this area to Sunset 
      Blvd in LA. Around the area is a strip of high end retailers.</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= cliff %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">Nu‘uanu Pali. Half day activity.</h4>
    <p> Not only is this an opportunity to get some scenic panoramic shots, this cliff also bears significant historical significance. Instead of giving
      you an inaccurate history lesson, you can visit the <%= link_to "wiki page", "http://en.wikipedia.org/wiki/Nu%E2%80%98uanu_Pali", :target => :false %>.
      You have to experience the strong winds here for yourself.  Be warned, the wind is very strong so bring a light jacket and take off anything that can
      be blown away.</p>  
  </div>    
</div>

</br>

<div class="row">
  
  <div class="span4">
    <%= food %>
  </div>

  <div class="span7">
    <h4 style="color: #66A7C5">Food, food, and more food. Evening activity.</h4>
    <p>When in Oahu, you should pay a visit to the best restaurants they have to offer.  On the high end is 
      <%= link_to "Alan Wong's Restaurant (culinary icon)", "http://www.alanwongs.com/", :target => :false %>,  
      <%= link_to "Chef Mavro,", "http://www.chefmavro.com/", :target => :false %> and 
      <%= link_to "La Mer", "http://www.halekulani.com/living/dining/la_mer/", :target => :false %> (located at the premier hotel in the area, the Halekuhlani).  
      On the more affordable side are 
      <%= link_to "Kaka'ako Kitchen,", "http://kakaakokitchen.com/", :target => :false %> and 
      <%= link_to "Olive Tree Cafe", "http://www.yelp.com/biz/olive-tree-caf%C3%A9-honolulu-2", :target => :false %> (which is a BYOB with a wine shop next door).</p>  
      <%= link_to "Marukame Udon", "https://www.facebook.com/marukameudon", :target => :false %> a homemade udon noodle shop in Waikiki.  The line is long but moves fast.</p>  

  </div>    
</div>
