<div class="row">
  <div class="span4">
    <%= sept29 %>
  </div>

  <div class="span7">
    <h1>Group Meet and Greet</h1>
    <h3 style="color: #ED0D42">Afternoon Snorkel and Sail.</h3>
    <h4>Saturday, September 29, 2012 | 12:00 NOON pickup at Four Seasons Lobby.</h4>  
    <h4>Snorkeling cruise departs at 1:00pm and returns 5:15pm.</h4>
    <p>What better way to get to know each other than on a boat with sun, food, alcohol, and a nice dive! For those staying at the Four Seasons,
      there will be a bus picking us up at 12:00pm in the lobby/reception area.</p>
    <p>Catering will be provided by the famous, <%= link_to "Da Poke Shack", "http://www.tripadvisor.com/Restaurant_Review-g60872-d1913864-Reviews-Da_Poke_Shack-Kailua_Kona_Island_of_Hawaii_Hawaii.html", 
    :target => false %> (their equivalent of our Shake Shack minus the yuppies, burgers, and shakes.)  Da Poke Shack
      serves up delicious poke (seasoned raw ahi tuna - it's good, we had it).  For those who noted dietary restrictions, you will be taken care of.</p>
    <p>Snacks such as chips, fruits, and cookies will also be available.</p>
    <p>And yes, there will be alcohol galore.</p>
    <p>All snorkeling equipment and flotation devices will be provided.</p>
    <p style="color: #ED0D42">IF AT ALL POSSIBLE, PLEASE TRY TO WEAR WHITE AND/OR NAVY BLUE FOR PICTURE PURPOSES.  THANK YOU.</p>
    <p style="font-style:italic; font-size: 12px">*For those who are staying at the Sheraton, the pier is literally a 5 minutes drive from the hotel.  Please email us for instructions.</p>
  </div>    
</div>

</br>
</br>
<div class="row">
  <div class="span4">
    <%= sept30 %>
  </div>

  <div class="span7">
    <h1>The Big Day!</h1>
    <h3 style="color: #ED0D42">Ceremony and Cocktail</h3>
    <h4>Sunday, September 30, 2012 | 4:45pm | Kumukea Beach</h4>
    <p>Four Seasons Resort Hualālai at Historic Ka'ūpūlehu</br>
      72-100 Ka`upulehu Drive | Kailua-Kona | Hawaii 96740</br>
      <%= link_to "Four Seasons Website", "http://www.fourseasons.com/hualalai/", :target => false %></p>

    <h3 style="color: #ED0D42">Dinner and Dancing</h3>
    <h4>Sunday, September 30, 2012 | 6:30pm | Garden Lawn</h4>
    <p>Four Seasons Resort Hualālai at Historic Ka'ūpūlehu</br>
      72-100 Ka`upulehu Drive | Kailua-Kona | Hawaii 96740</br>
      <%= link_to "Four Seasons Website", "http://www.fourseasons.com/hualalai/", :target => false %>
  </div>
</div>
