<script type="text/javascript">
$(document).ready(function() {
 
	$('.tabs a').click(function(){
		switch_tabs($(this));
	});
 
	switch_tabs($('.default'));
 
});
 
function switch_tabs(obj)
{
	$('.tab-content').hide();
	$('.tabs a').removeClass("active");
	var id = obj.attr("rel");
 
	$('#'+id).show();
	obj.addClass("active");
}
</script>

<div class="container">

<h5 style="text-align: center">Click on the pictures to get a detailed his version / her version of our story.</h5>

<div class="timeline">
  <%= timeline %>
</div>
  <div class="tabs">
    <a href="javascript:void(0)" class="default jpm" rel="tabs1"><%= jpm %></a>
    <a href="javascript:void(0)" rel="tabs2" class="nickandming"><%= nickming %></a>
    <a href="javascript:void(0)" rel="tabs3" class="shesaidyes"><%= shesaidyes %></a>
    <a href="javascript:void(0)" rel="tabs4" class="aloha"><%= aloha %></a>
  </div>

  
  <%= hishers %>
  </br>
  </br>

  <div class="tab-content" id="tabs1">
    <div class="row">
      <div class="span5">
        <blockquote>My first memory of meeting Ming was at a colleague's birthday party during Analyst training at JPMorgan.
          That was my first memory until Ming reminded me that this wasn't the first time and that we had met at lunch a few weeks
          before the dinner. To be honest, Analyst Training at JPMorgan was a bit of a blur... I just remember drinking and being out
          late a lot and being half asleep and dazed during the day, so it was my mistake. Back in the real world, while grinding out 
          Excel models and Powerpoint presentations, I noticed this Ming Huang on sametime very late at night every night. 
          So one day, I just messaged her...</blockquote>
        </div>
      <div class="span5 offset2" style="margin-left: 170px">
        <blockquote>My first recollection of Nick was at lunch during analyst training. He didn't remember me because
          he was too busy interrogating me on why I wanted to do banking. I just thought he was a douche. Second time was
          during a friend's bday dinner, where he, of course, said he didn't remember meeting me before - ever. Then one day
          this guy named Nicholas Khuu sametimed (internal JPM instant messaging service) me. At that point, I didn't remember
          him either. But since he sametimed me, I assumed he wanted me to get him some SLF league tables so I wanted to
          ignore him. Luckily being the reliable person I am, I responded even though it was 2am. Turned out, he was just bored and
          wanted to chat. The rest is history.</blockquote>
      </div>
    </div>
  </div>

  <div class="tab-content" id="tabs2">
    <div class="row">
      <div class="span5">
        <blockquote>Ming and I had been talking almost every night for almost a year and I had developed a big soft patch in 
          my heart for her. She said that she was coming to San Francisco to visit. I guess I didn't hear the part about her visiting
          with a friend... a male friend. After spending time with her and her friend, I have to admit I was a bit confused about her signals.
          So on the second last night she was in town, my guy friends, Ming, her friend and I went to a bar where my friends liquored up 
          her friend and so I got to spend time with her alone and tell her that I had a thing for her...</blockquote>
        </div>
      <div class="span5 offset2" style="margin-left: 170px">
        <blockquote>My friend Chris wanted to go to SF to watch a symphony orchestra perform. Since I am such a fan of the arts (hmmph),
          I went with him. During my visit, Nick professed his undying love for me. I don't think I actually agreed to
          be his girlfriend until after I got back to NYC. Yes, we went straight to being gf/bf. Sounds so HS, but since the
          distance prohibited normal dating protocol, we went straight for the gold.</blockquote>
      </div>
    </div>
  </div>

  <div class="tab-content" id="tabs3">
    <div class="row">
      <div class="span5">
        <blockquote>After spending months researching and talking to various diamond people, I accumulated more knowledge about diamonds
          than I ever wanted to know. If you haven't been through the process, I recommend that you don't go through it... nevertheless,
          I was relieved when the process was complete. Then it was time to plan the engagement. Ming had 'quietly' shut down all the things
          that I wanted to do (aka Paris, Bermuda, any travel of sorts)... so I ended up planning at trip to a waterfall in Western Massachusetts.
          I thought she didn't have a clue what was being plan, but as it turns out, she knew all along... </blockquote>
        </div>
      <div class="span5 offset2" style="margin-left: 170px">
        <blockquote>Since I played a part in the ring selection process, I knew it was coming. He still tried to surprise me
          by doing it on a weekend trip. When I saw an email from Expedia in his inbox confirming travel plans, I knew when
          it was going to happen too (I didn't even need to snoop around since genius boy left his email front and center on the 
          computer). I teased him that I knew all about the "plan," but he denied it. Come that Friday, I packed my bags
          and told him "I was ready should we need to go somewhere" when he got back from work.</blockquote>
      </div>
    </div>
  </div>

  <div class="tab-content" id="tabs4">
    <div class="row">
      <div class="span5">
        <blockquote>Synonyms for wedding planning would be stressful, intense, crazy, stressful... throw in 5 potential global destinations
          and you can just multiple everything by 50x... but at least we have a destination locked in... we are very excited to have you join us</blockquote>
        </div>
      <div class="span5 offset2" style="margin-left: 170px">
        <blockquote>We know, we've been really bad about planning the wedding, but now it is officially done and we couldn't
          be more excited. We hope all of you can come and share this special day with us.</blockquote>
      </div>
    </div>
  </div>


  
</div>


</br>
</br>