<div>
  </br>
  </br>
  
  <div class="accordion">
    
    <h3 class="accordion-tabs">Travel and Lodging</h3>
    <div class="indent-10-px">
      <%=  render :template => "galleries/travel_lodging" %>
    </div>
    
    
    <h3 class="accordion-tabs">Bridal Party</h3>
    <div class="indent-10-px">
      <%=  render "bridal_party" %>
    </div>
    
    
    <h3 class="accordion-tabs">Wedding Schedule</h3>
    <div class="indent-10-px">
      <%=  render "wedding_schedule" %>
    </div>  
      
    <h3 class="accordion-tabs">Recommended Extended Travel Itineraries</h3>
      <div class="indent-10-px">
        <%=  render "itineraries" %>
      </div>
      
    
  </div>
  
  <%= inlove %>

  
</div>