<div class="fields">
  <%= f.input :image, :as => :file %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :featured, :as => :select %>
  <%= link_to_remove_fields "Remove", f %>
</div>