
<div class="promocyja-font travel-quote">“<%= @quote.quote %>”<br> 
  <span style="font-size: 22px">– <%= @quote.author %></span></div>
  
<% if @featured_blogs.count > 0 %>  
  <div class="carousel slide" id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
          <ul class="thumbnails">
                  <% @featured_blogs.each do |fb| %>
                  <li class="index-pages-li">

                  <%= link_to image_tag(fb.food_images.first.image_url(:list)), food_path(fb) if fb.food_images.first %>
                  <span class="index-pages-li-title"><%= fb.title %></span>
                </li>

                  <% end %>
          </ul>
    </div>
    <div class="item">
          <ul class="thumbnails">
              <li class="span2">
                  <img src="http://placehold.it/260x180" alt="">
              </li>
          </ul>
    </div>
  </div>
  <a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
  <a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
  </div>
<% end %>

  <br><br>

    
    <% @food_blogs.each do |fb| %>
    
      <div class="white-box">
        <div class="row">
          <div class="span3 travel-index-left-column">
            <%= image_tag(fb.user.image_url(:thumb), :class => "round-images") if fb.user %><br><br>

            AUTHOR:<br>
            <%= fb.user.name %><br><br>

            DATE:<br>
            <%= fb.publish_date.strftime("%B %d, %Y") %><br><br>

            <% unless fb.restaurant.empty? %>
            Restaurant:<br>
            <%= fb.restaurant %><br><br>
            <% end %>
            
            COMMENTS:<br>
            <%= pluralize(fb.comments.count, 'Comment') %><br><br>
          </div>
        
          <div class="span8 travel-index-right-column">
            <p class="mathlete-bulky-font" style="font-size: 38px"><%= link_to fb.title, food_path(fb) %></p><br>
            <%= image_tag(fb.food_images.first.image_url(:index)) if fb.food_images.first %><br><br>
            <%= fb.content %>
          </div>    
        </div>
      </div><br><br>    
    <% end %>
    
    <div class="pull-right"><%= page_navigation_links @food_blogs, '#' %></div>    
    