
  <div class="promocyja-font food-quote">“<%= @quote.quote %>”<br> 
    <span style="font-size: 22px">– <%= @quote.author %></span>
  </div>
  
<% if Food.featured_blogs.count > 0 %> 
  <%= render :partial => 'shared/blog_index_carousel', :locals => {the_model: Food}%>
<% end %>

  <br><br>

    
    <% @food_blogs.each do |fb| %>
    
      <div class="white-box">
        <div class="row">
          <div class="span3 travel-index-left-column">
            <%= image_tag(fb.user.image_url(:thumb), :class => "round-images") if fb.user %><br><br>

            AUTHOR:<br>
            <%= fb.user.name %><br><br>

            DATE:<br>
            <%= fb.publish_date.strftime("%B %d, %Y") %><br><br>

            <% unless fb.restaurant.empty? %>
            Restaurant:<br>
            <%= fb.restaurant %><br><br>
            <% end %>
            
            COMMENTS:<br>
            <%= pluralize(fb.comments.count, 'Comment') %><br><br>
          </div>
        
          <div class="span8 travel-index-right-column">
            <p class="mathlete-bulky-font" style="font-size: 38px"><%= link_to fb.title, food_path(fb) %></p><br>
            <%= image_tag(Food.featured_image(fb).first.image_url(:index))%><br><br>
            <%= truncate(fb.content, :length => 200) %>
          </div>    
        </div>
      </div><br><br>    
    <% end %>
    
    <div class="pull-right"><%= page_navigation_links @food_blogs, '#' %></div>    
    