

<div class="promocyja-font travel-quote">“We all eat, and it would be a sad waste of opportunity to eat badly.”<br> 
  <span style="font-size: 22px">– Anna Thomas</span></div>
  
  <br><br>
  
    
    <% @food_blogs.each do |fb| %>
    
      <div class="white-box">
        <div class="row">
          <div class="span3 travel-index-left-column">
            <%= image_tag(fb.food_images.first.image_url(:thumb), :class => "round-images") if fb.food_images.first %><br><br>

            AUTHOR:<br>
            <%= fb.author %><br><br>

            DATE:<br>
            <%= fb.publish_date.strftime("%B %d, %Y") %><br><br>

            <% unless fb.restaurant.empty? %>
            Restaurant:<br>
            <%= fb.restaurant %><br><br>
            <% end %>
            
            COMMENTS:<br>
            <%= pluralize(fb.comments.count, 'Comment') %><br><br>
          </div>
        
          <div class="span8 travel-index-right-column">
            <p class="mathlete-bulky-font" style="font-size: 38px"><%= link_to fb.title, food_path(fb) %></p><br>
            <%= image_tag(fb.food_images.first.image_url(:index)) if fb.food_images.first %><br><br>
            <%= fb.content %>
          </div>    
        </div>
      </div><br><br>    
    <% end %>