<p><%= link_to "«« Back to Admin »»", admins_path %></p></br> 

<h4>List of Food Blogs</h4></br>

<div>
  <%= simple_form_for @search, :url => list_food_blogs_path do |f| %>
    <%= f.input :content_contains, :label => "Keyword Search", :required => false %>
    SORT BY: <%= f.sort_link :id, "ID Order" %>
  <% end %>
</div>

<table class="table zebra-striped">
  <thead>
    <tr>
      <th>ID #</th>
      <th>Title</th>
      <th>Content</th>
      <th>Published Date</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @food_blogs.each do |fb| %>
    <tr>
      <td><%= fb.id %></td>
      <td><%= link_to fb.title, fb %></td>
      <td><%= truncate(fb.content, :length => 50, :separator => " ") %></td>
      <td><%= fb.publish_date %></td>
      <td><%= fb.author %></td>
      <td><%= link_to "Edit", :action => 'manage', :id => fb.id %> | <%= link_to "Delete", fb, :method => :delete %></td>        
     </tr>
    <% end %>
  </tbody>  

</table>

<%= page_navigation_links @food_blogs, '#'%>

<div class="btn primary white-link pull-right"><%= link_to "New", :action => 'manage' %></div>
