<h4>List of Food Blogs</h4></br>

<div class="display-inline">
  <%= link_to "«« Back to Admin »»", admins_path %>

  <div>
    <%= search_form_for @search, :url => list_food_blogs_path do |f| %>
      Keyword Search: <%= f.search_field :title_or_content_cont, :label => false %>
      SORT BY: <%= f.sort_link :id, "ID Order" %>
    <% end %>
  </div>
</div>

<br>

<div style="margin-left: -20px;">
  <% @food_blogs.each do |f| %>
  <ul class="no-margin-or-bullet list-pages-grid">
    <li class="list-pages-li">
    <%= link_to image_tag(Food.featured_image(f).first.image_url(:list)), food_path(f)  %><br>
      <div class="list-pages-text">
        <h4 style="color: #aaa"><%= f.rest? ? 'RESTAURANT': '' %> <%= f.recipe? ? 'RECIPE': '' %> </h4><hr class="dotted">
        <h4 style="color: black; margin-bottom: 12px"><%= truncate(f.title, :length => 30) %></h4>
        <p style="font-family: Helvetica Neue, font-size: 10px;"><%= truncate(f.content, :length => 100) %></p>
        <%= link_to "Edit", :action => 'edit', :id => f.id %> | <%= link_to "Delete", f, :method => :delete %>
      </div>
    </li>
  </ul>
  <% end %>
</div>


<div class="pull-right"><%= will_paginate @food_blogs, renderer: BootstrapPagination::Rails %></div>    


<div class="btn primary white-link pull-right"><%= link_to "New", :action => 'new' %></div>
