<%= simple_form_for(@food_blog, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>

  <%= f.association :food_images do |builder| %>
      <%= render 'food_image_fields', :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Add Image", f, :food_images %></p>

  <br><br>
  
  <%= f.input :author, :as => :hidden, :input_html => { :value => current_user.name } %>
  <%= f.input :title, :input_html => { :class => "input-xxlarge" } %>
  <%= f.input :publish_date, :as => :date, :order => [:month, :day, :year], :start_year => 2013, :end_year => Time.now.year, :input_html => {:class => "input-small"}, :label => "Publish Date" %>
  <%= f.input :restaurant, :input_html => { :class => "input-xxlarge" } %>
  <%= f.input :restaurant_location, :input_html => { :class => "input-xxlarge" } %>
  <%= f.input :content, :input_html => { style: 'height:200px;', :class => "input-xxlarge" } %>
  
  <br> 
  
  <div class="pull-right">
    <div class="btn primary white-link"><%= link_to "Cancel", list_travel_blogs_path %></div>
    <%= f.button :submit, :class => "primary" %>
  </div>  
<% end %>