<div class="span5">
<%= image_tag(@image.image_url(:thumb))%>
<%= f.input :image, :label => "Photo", :as => :file %>    
<%= f.input :name %>
<%= f.input :description %>
</div>

<div class="span5">
<%= f.input :featured, :as => :select %>
<%= f.input :lodging, :as => :select %>
<%= f.input :engagement, :as => :select %>
<%= f.input :wedding_cruise, :as => :select %>
<%= f.input :wedding, :as => :select %>
</div>