<% @images.each do |image| %>          
    <a href="javascript:void(0)" rel="<%= image.image_url(:ex_large_pic) %>" data-id="<%= image.id %>" 
      comments="<% image.comments.each do |comment| %>
      <blockquote><%= comment.content %></br> by: <%= comment.commenter %></blockquote><hr/>
    <% end %>" 

    class="image">
      <%= image_tag(image.image_url(:thumb_2) ) %>
    </a>
<% end %>
