<div class="container">

  <%= form_for(@image, :url => { :action => "create_friend_upload" }, :html => {:multipart => true}, :html => {:remote => true}) do |f| %>
    <%= f.label :image, "Upload pictures by either choosing the files OR simply dragging the pictures to this window.  Once the status
    bar is complete, just refresh the page." %>
    <%= f.file_field :image, multiple: true, name: "gallery[image]" %>
    <%= f.hidden_field :friend_upload, :value => true %>
    <%= f.hidden_field :friend_uploader, :value => current_user.name %>
  <% end %>



  <script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
  </script>

  <div class="row">
    <div class ="span4">
      <div id ="image">
        <%= image_tag(@images.first.image_url(:large_pic)) if @images.first %>
      </div>
      
      </br>
      </br>
      </br>
      </br>
      </br>
      
      <div class="gallery_comment">
        <%= semantic_form_for(@comment, :url => create_gallery_comment_path) do |f| %>
          <%= f.inputs do %>
            <%= f.input :content, :label => false, :required => false %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :commenter, :value => current_user.name %>
            <%= f.hidden_field :gallery_id, :value => @images.first.id if @images.first %>
          <% end %>
          <%= f.commit_button :button_html => {:class => "primary"}, :label => "Comment" %>
        <% end %>
      </div>
    </div>

    <div class="span8">
      <div id="thumbs">
        <div class="thumbs">
          
          <%= render :partial => "thumbs" %>

        </div>  
      </div>
    </div>
  </div>
  
  <div id="comment_section">
  <%= render :partial => "comments" %>
  </div>
  
  </br>
  </br>
  
</div>