

  <%= form_for(@image, :url => { :action => "create_friend_upload" }, :html => {:multipart => true}, :html => {:remote => true}) do |f| %>
    <%= f.label :image, "Upload pictures by either choosing the files OR simply dragging the pictures to this window.  Once the status
    bar is complete, just refresh the page." %>
    <%= f.file_field :image, multiple: true, name: "gallery[image]" %>
    <%= f.hidden_field :friend_upload, :value => true %>
    <%= f.hidden_field :friend_uploader, :value => current_user.name %>
  <% end %>



  <script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
  </script>

  <div class="row-fluid">
    <div class ="span8">
      <div id ="image">
        <%= image_tag(@images.first.image_url(:ex_large_pic)) if @images.first %>
      </div>
      
      </br>
      </br>
      </br>
      </br>
      </br>
      
    </div>

    <div class="span4">
      <div id="thumbs">
        <div class="thumbs">
          
          <%= render :partial => "thumbs" %>

        </div>  
      </div>
      
      <div class="gallery_comment">
        <%= simple_form_for(@comment, :url => create_gallery_comment_path) do |f| %>
            
            <%= f.input :content %>
            <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
            <%= f.input :commenter, :as => :hidden, :input_html => { :value => current_user.name }%>
            <%= f.input :gallery_id, :as => :hidden, :input_html => { :value => (@images.first.id if @images.first) }%>
            <div class="pull-right"><%= f.button :submit, 'Submit', :class => "primary" %></div>
        <% end %>
      </div>
      
      
    </div>
  </div>
  
  <div id="comment_section">
  <%= render :partial => "comments" %>
  </div>
  
  </br>
  </br>
