<div class="container row">

  <div class="carousel slide" id="myCarouselMain">
    <div class="carousel-inner main-carousel-height">
      <div class="item active">
        <ul>
          <li class="slide_gallery">
          <%= image_tag(@first_image.image_url(:featured)) %>
          <span class="gallery-slideshow-caption"><%= @first_image.description %></span>
          </li>
        </ul>
      </div>
    
      <% @featured_images.each do |fb| %>
      <div class="item">
        <ul>
          <li class="slide_gallery">
          <%= image_tag(fb.image_url(:featured))%>
          <span class="gallery-slideshow-caption"><%= fb.description %></span>
          </li>
        </ul>
      </div>
      <% end %>
    
    </div>
      <a data-slide="prev" href="#myCarouselMain" class="left carousel-control">‹</a>
      <a data-slide="next" href="#myCarouselMain" class="right carousel-control">›</a>
  </div>

<script>
  $('#myCarouselMain').carousel();
</script>
 
  <br>
  
  <h2 style="text-align: center">Hi, we are The Khuus!</h2>

  <br>
    
  <p>Since establishing ourselves as a family in Sept. 2012, we have built this website as a forum for our family to share our lives with those
    closest and dearest to us.</p>
    
    
  <p class="pull-right">Lots of love,<br><br>

  <%= signature %></p>
  
</div>