
<div class="container">
  <div id ="slide_gallery" class="slideshow-caption-container">
    <%= image_tag(@first_image.image_url(:slide_gallery))  %>
    <div class="gallery-slideshow-caption">
      <div class="slideshow-caption-container">
        <p><%= @first_image.description %></p>
      </div>
    </div>
  </div>

  <div class="slide_gallery">
    <ul>         
    <% @images.each do |image| %> 
       <li>
        <a href="javascript:void(0)" rel="<%= image.image_url(:slide_gallery) %>" class="slide_gallery" title="<%= image.name %>" alt="<%= image.description %>">
          <%= image_tag(image.image_url(:thumb)) %>
        </a>
       </li>
    <% end %>
    </ul>
  </div>

</div>
</br>
</br>