<ul class="nav nav-pills" id="myTab">
  <li class="active"><a href="#engagement">Engagement</a></li>
  <li><a href="#cruise">Wedding Snorkel Cruise</a></li>
  <li><a href="#wedding">Wedding</a></li>
  <li><a href="#travel">Travel</a></li>
  <li><a href="#food">Food</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="engagement">  
    <%= render :partial => 'engagement', :locals => {images: @engagement} %>
  </div>  

  <div class="tab-pane" id="cruise">  
    <%= render :partial => 'cruise', :locals => {images: @cruise} %>
  </div>


  <div class="tab-pane" id="wedding">  
    <%= render :partial => 'wedding', :locals => {images: @wedding} %>      
  </div>


  <div class="tab-pane" id="travel">  
    <%= render :partial => 'travel', :locals => {images: @travel_images} %>
  </div>

  <div class="tab-pane" id="food">  
    <%= render :partial => 'food', :locals => {images: @food_images} %>
  </div>


</div>

<script>
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
  
  $(function () {
    $('#myTab a:first').tab('show');
  })
</script>