<div class="container">
  <div id ="slide_gallery" class="slideshow-caption-container">
    <%= image_tag(@first_image.image_url(:slide_gallery)) if @first_image %>
    <div class="gallery-slideshow-caption">
      <div class="slideshow-caption-container">
        <p><%= @first_image.description if @first_image %></p>
      </div>
    </div>
  </div>

  <div class="white-gallery-box">  
    <ul class="nav nav-pills" id="myTab">
      <li class="active"><a href="#everyday">Everyday</a></li>
      <li><a href="#engagement">Engagement</a></li>
      <li><a href="#cruise">Wedding Snorkel Cruise</a></li>
      <li><a href="#wedding">Wedding</a></li>
    </ul>

    <div class="tab-content">

      
      <div class="tab-pane" id="engagement">
        <div class="slide_gallery">
          <ul>         
          <% @engagements.each do |eng| %> 
             <li>
              <a href="javascript:void(0)" rel="<%= eng.image_url(:slide_gallery) %>" class="slide_gallery" title="<%= eng.name %>" alt="<%= eng.description %>">
                <%= image_tag(eng.image_url(:thumb)) %>
              </a>
             </li>
          <% end %>
          </ul>
        </div>
      </div>

      <div class="tab-pane" id="cruise">
        <div class="slide_gallery">
          <ul>         
          <% @cruise.each do |c| %> 
             <li>
              <a href="javascript:void(0)" rel="<%= c.image_url(:slide_gallery) %>" class="slide_gallery" title="<%= c.name %>" alt="<%= c.description %>">
                <%= image_tag(c.image_url(:thumb)) %>
              </a>
             </li>
          <% end %>
          </ul>
        </div>
      </div>


      <div class="tab-pane" id="wedding">
        <div class="slide_gallery">
          <ul>         
          <% @wedding.each do |w| %> 
             <li>
              <a href="javascript:void(0)" rel="<%= w.image_url(:slide_gallery) %>" class="slide_gallery" title="<%= w.name %>" alt="<%= w.description %>">
                <%= image_tag(w.image_url(:thumb)) %>
              </a>
             </li>
          <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>  
</div>

<script>
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
  
  $(function () {
    $('#myTab a:first').tab('show');
  })
  

</script>


