<div class="container">
<p><%= link_to "«« Back to Admin »»", admins_path %></p></br> 

<h4>List of Pictures</h4></br>

<div>
  <%= simple_form_for @search, :url => list_gallery_path do |f| %>
    <%= f.input :description_contains, :label => "Keyword Search", :required => false %>
    SORT BY: <%= f.sort_link :id, "ID Order" %>
  <% end %>
</div>

<table class="table zebra-striped">
  <thead>
    <tr>
      <th>ID #</th>
      <th>Name</th>
      <th>Description</th>
      <th>Featured?</th>
      <th>Lodging?</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @galleries.each do |gal| %>
    <tr>
      <td><%= gal.id %></td>
      <td><%= gal.name %></td>
      <td><%= truncate(gal.description, :length => 50, :separator => " ") %></td>
      <td><%= gal.featured? %></td>
      <td><%= gal.lodging? %></td>
      <td><%= link_to "Edit", :action => 'edit', :id => gal.id %> | <%= link_to "Delete", gal, :method => :delete %></td>        
     </tr>
    <% end %>
  </tbody>  

</table>


<div style="margin-left: -20px;">
  <% @galleries.each do |g| %>
  <ul class="no-margin-or-bullet list-pages-grid">
    <li class="list-pages-li">
    <%= image_tag(g.image_url(:thumb_2)) if g.image %><br>
      <div class="list-pages-text">
        <%= g.featured? ? 'Featured': '' %> <%= g.engagement? ? 'Engagement': '' %> <%= g.wedding_cruise? ? 'Wedding Cruise': '' %> <%= g.wedding? ? 'Wedding': '' %><hr class="dotted">
        <%= truncate(g.description, :length => 50) %><br>
        <%= link_to "Edit", :action => 'edit', :id => g.id %> | <%= link_to "Delete", g, :method => :delete %>
      </div>
    </li>
  </ul>
  <% end %>
</div>


<%= page_navigation_links @galleries, '#'%>

<div class="btn primary white-link pull-right"><%= link_to "New", :action => 'new' %></div>
</div>