<div class="container">
<h4>List of Pictures</h4></br>

<div class="display-inline">
  <%= link_to "«« Back to Admin »»", admins_path %>

  <div>
    <%= simple_form_for @search, :url => list_gallery_path do |f| %>
      Keyword search: <%= f.input :name_or_description_contains, :label => false %>
      SORT BY: <%= f.sort_link :id, "ID Order" %>
    <% end %>
  </div>
</div>

<div style="margin-left: -20px;">
  <% @galleries.each do |g| %>
  <ul class="no-margin-or-bullet list-pages-grid">
    <li class="list-pages-li">
    <%= image_tag(g.image_url(:thumb_2)) if g.image %><br>
      <div class="list-pages-text">
        <h4 style="color: #aaa"><%= g.featured? ? 'FEATURED,': '' %> <%= g.engagement? ? 'ENGAGEMENT': '' %> <%= g.wedding_cruise? ? 'WEDDING CRUISE': '' %> <%= g.wedding? ? 'WEDDING': '' %></h4><hr class="dotted">
        <h4 style="color: black; margin-bottom: 12px"><%= truncate(g.name, :length => 30) %></h4>
        <p style="font-family: Helvetica Neue, font-size: 10px;"><%= truncate(g.description, :length => 100) %></p>
        <%= link_to "Edit", :action => 'edit', :id => g.id %> | <%= link_to "Delete", g, :method => :delete %>
      </div>
    </li>
  </ul>
  <% end %>
</div>


<%= page_navigation_links @galleries, '#'%>

<div class="btn primary white-link pull-right"><%= link_to "New", :action => 'new' %></div>
</div>