<!DOCTYPE html>
<html>
<head>
  <title>The Khuus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="<% root_path %>"><%= logo %></a>
        <ul class="nav pull-right">
          <li class="dropdown">
            
          <%= tabs %>
                   
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>

</html>
