<!DOCTYPE html>
<html>
<head>
  <title>The Khuus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
<% # Adding google analytics below %>   
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31729865-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
   
</head>
<body>

  <div class="container">
  <div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <% if current_user %>
              <%= link_to logo, root_path %>
            <% end %>
        
          <ul class="nav pull-right">            
            <li class="<%= 'active' if controller.is_a?(GalleriesController) %>"  style="width: 185px;"><%= link_to galleries_path do %> <div class="ca-icon"></div><% end %><%= link_to "Photo Gallery", galleries_path %></li>
            <li class="<%= 'active' if controller.is_a?(TravelsController) %>" style="width: 210px;"><%= link_to travels_path do %> <div class="ca-icon2"></div><% end %><%= link_to "The Khuus Travel", travels_path %></li>
            <li class="<%= 'active' if controller.is_a?(FoodsController) %>" style="width: 185px;"><%= link_to foods_path do %> <div class="ca-icon3"></div><% end %><%= link_to "The Khuus Eat", foods_path %></li>
          </ul>         
        </div>
      
        
          <div class="sign-out">
            <% if current_user %>
              Welcome back, <%= current_user.name %> | <%= link_to "Sign out", sign_out_path %></br>
            <% end %>
          </div>
        
      
    </div>
  </div>
  </div>


  <div class="container">
    <%= yield %>
  </div>

  <div class="push"></div>

  <footer>
    <br>
    <%= render partial: "layouts/footer" %>
  </footer>

</body>

</html>
