<!DOCTYPE html>
<html>
<head>
  <title>The Khuus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand">
        <% if current_user %>
          <%= link_to logo, welcome_path %>
        <% else %>
          <%= link_to logo, root_path %>
        <% end %>
        </a>
        <ul class="nav pull-right">
          <li class="dropdown">
            
          <%= tabs %>
                   
          </li>
        </ul>
        <div class="sign-out">
          <% if current_user %>
            Welcome back, <%= current_user.name %> | <%= link_to "Sign out", sign_out_path %></br>
          <% else %>
            
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>

</html>
